/*
* File: calc.component.scss
* Author: Serényi Ödön
* Copyright: 2023, Serényi Ödön
* Group: Szoft-II-N
* Date: 2023-02-13
* Github: https://github.com/OneBoyTwoGirl/
* Licenc: GNU GPL
*/


h2{
    text-align: center;
}

h3 {
    color: royalblue;
	font-family: 'Nothing You Could Do', cursive;
	width: auto;
}